{% block dummy %}{% endblock dummy %}
<!--
#
# Copyright 2010 TimeZlicer
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
-->

<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script>
  $(function() {
    $('input[type="text"]').click(function() {
      $(this).val("");
    });
    $("#search").focus();
  });
  </script>

  <h2><a href="http://code.google.com/p/gae-text-search/" target=="_blank">Google App Engine - Full Text Search</a></h2>

  <form action="/" method="post">
    <input id="search" type="text" name="search" value="{{ search|default:"BCCI" }}" /> 
  </form>

  {% if search %}
    <em>{{ results_count }} result{{ results_count|pluralize }} ({{ elapsed.seconds }}.{{ elapsed.microseconds }} seconds)</em>
  {% endif %}

  {% for result in results %}
    <p>
      <strong>Name:</strong> {{ result.name }}
      <br />
      <strong>Type:</strong> {{ result.type }}
      <br />
      <strong>Investor:</strong> {{ result.investor }}
      <br />
      <strong>Address:</strong> {{ result.address }}
      <br />
      <strong>District:</strong> {{ result.district }}
      <br />
      <strong>Link:</strong> {{ result.link }}
    </p>
  {% endfor %}
</html>
